
   
      .im1{
        background-image: url('hand-painted-watercolor-pastel-sky-background_23-2148902771.webp');
           height: 100%;
           background-repeat:no-repeat;
       background-size:cover;
      
      }
     
      .imgx{
       background-image: url('692085.jpg');
       background-repeat:no-repeat;
       background-size:cover;
      

      }
     .h{
      height: 100vh;
     }
     .reveal{
    position:relative;
transform: translateY(150px);
opacity: 0;
transition:all 2s ease;
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
  .border{
    border:5px solid #b1b7cf;
    border-radius:50px;
  }
     .stylishfont{
      font-family: 'Rubik Gemstones', 'cursive';
     }
     main{
      background-color:#A0522D;
     }
     
 
    